* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;

  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
}