* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;

  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text-rg: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

body {
  font: var(--text-rg);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
  
}

.bg-surface-color {
  background-color: var(--surface-color);
}